services:
  backend:
    build:
      context: ./BackEnd
      dockerfile: DockerFile
    container_name: nodejs-backend
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3000
    expose:
      - "3000"
    networks:
      - app-network

  frontend:
    build:
      context: ./FrontEnd
      dockerfile: DockerFile
    container_name: react-frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./BackEnd/.nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
